<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home work#2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
[v-cloak] {
    display: none;
}
</style>
<body>
    <div class="container">
        <div id="app" v-cloak>
            <h1>Welcome {{name}}</h1>
            <button v-on:click="trigger" >{{button}}</button>
            <blockquote>
                <p>Общее количество людей : {{count}}</p>
            </blockquote>
            <table v-show="boolean" class="table table-striped">
                <thead class="thead-dark">
                        <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Phone number</th>
                                <th>Email</th>
                                <th>Avatar</th>
                            </tr>
                </thead>
                <tr v-for="user in users" :key="user.id">
                    <td>{{user.name | capitalize}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td v-if="user.image.length > 0"><img :src="user.image" alt="avatar" width="100" height="100"></td>
                    <td v-else><img :src="defaultImage" alt="avatar" width="100" height="100"></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: function (){
                return {
                    name: 'Mo!!!',
                    users: null,
                    defaultImage:'https://via.placeholder.com/600/fff',
                    amount: 0,
                    boolean: true,
                    buttonValue: ''
                }
            },
            computed: {
                count: function () {
                    let self = this;
                    return self.amount;
                },
                button: function () {
                    return this.buttonValue ? 'Show' : 'Hide';
                }
            },
            created: async function (){
                await this.getUsers();
                await this.getCount();
            },
            methods: {
                getUsers: async function  (){
                    let response = [];
                    let images = [
                        'https://via.placeholder.com/600/d32776',
                        'https://via.placeholder.com/600/f66b97',
                        'https://via.placeholder.com/600/56a8c2',
                        '',
                        'https://via.placeholder.com/600/54176f',
                        'https://via.placeholder.com/600/51aa97',
                        'https://via.placeholder.com/600/810b14',
                        '',
                        'https://via.placeholder.com/600/66b7d2',
                        'https://via.placeholder.com/600/197d29',

                    ]
                    await axios
                        .get('https://jsonplaceholder.typicode.com/users')
                        .then(response=>{
                            response = response.data;

                            for( let i = 0; i < images.length; i++){
                                response[i].image = images[i];
                            }
                            this.users = response;
                        })
                        .catch(err=> console.log(err));
                        console.log(this.users.length);
                },
                getCount: async function (){
                    this.amount = this.users.length;
                },
                trigger: function (){
                    this.buttonValue = !this.buttonValue;
                    this.boolean ? this.boolean = false : this.boolean = true;
                }
            },
            filters: {
                capitalize: function (value) {
                    if (!value) return ''
                    value = value.toString()
                    return value.charAt(0).toUpperCase() + value.slice(3);
                    }
            },
        });
    </script>
</body>
</html>